<div class="container">
  <h2><a routerLink="/"><strong><< BACK</strong></a></h2>

  <div class="game">
    <div class="house green">
        <div class="box">
            <div class="square square-one green" id="green-home-one"><img src="assets/images/piece-green.png" class="piece_img" id="green-one" (click)="move_the_piece($event);"></div>
            <div class="square square-two green" id="green-home-two"><img src="assets/images/piece-green.png" class="piece_img" id="green-two" (click)="move_the_piece($event);"></div>
            <div class="square square-three green" id="green-home-three"><img src="assets/images/piece-green.png" class="piece_img" id="green-three" (click)="move_the_piece($event);"></div>
            <div class="square square-four green" id="green-home-four"><img src="assets/images/piece-green.png" class="piece_img" id="green-four" (click)="move_the_piece($event);"></div>
        </div>
    </div>

    <div class="house yellow" style="right: 0">
        <div class="box">
            <div class="square square-one yellow" id="yellow-home-one"><img src="assets/images/piece-yellow.png" class="piece_img" id="yellow-one" (click)="move_the_piece($event);"></div>
            <div class="square square-two yellow" id="yellow-home-two"><img src="assets/images/piece-yellow.png" class="piece_img" id="yellow-two" (click)="move_the_piece($event);"></div>
            <div class="square square-three yellow" id="yellow-home-three"><img src="assets/images/piece-yellow.png" class="piece_img" id="yellow-three" (click)="move_the_piece($event);"></div>
            <div class="square square-four yellow" id="yellow-home-four"><img src="assets/images/piece-yellow.png" class="piece_img" id="yellow-four" (click)="move_the_piece($event);"></div>
        </div>
    </div>

    <div class="house red" style="bottom: 0">
        <div class="box">
            <div class="square square-one red" id="red-home-one"><img src="assets/images/piece-red.png" id="red-one" class="piece_img" (click)="move_the_piece($event);"></div>
            <div class="square square-two red" id="red-home-two"><img src="assets/images/piece-red.png" id="red-two" class="piece_img" (click)="move_the_piece($event);"></div>
            <div class="square square-three red" id="red-home-three"><img src="assets/images/piece-red.png" id="red-three" class="piece_img" (click)="move_the_piece($event);"></div>
            <div class="square square-four red" id="red-home-four"><img src="assets/images/piece-red.png" id="red-four" class="piece_img" (click)="move_the_piece($event);"></div>
        </div>
    </div>

    <div class="house blue" style="bottom: 0;right: 0">
        <div class="box">
            <div class="square square-one blue" id="blue-home-one"><img src="assets/images/piece-blue.png" class="piece_img" id="blue-one" (click)="move_the_piece($event);"></div>
            <div class="square square-two blue" id="blue-home-two"><img src="assets/images/piece-blue.png" class="piece_img" id="blue-two" (click)="move_the_piece($event);"></div>
            <div class="square square-three blue" id="blue-home-three"><img src="assets/images/piece-blue.png" class="piece_img" id="blue-three" (click)="move_the_piece($event);"></div>
            <div class="square square-four blue" id="blue-home-four"><img src="assets/images/piece-blue.png" class="piece_img" id="blue-four" (click)="move_the_piece($event);"></div>
        </div>
    </div>

    <div class="home"></div>
    <div class="cells" id ="pos-52" style="top: 40%;">52</div>
    <div class="cells g-start green" id ="pos-1" style="top: 40%;left:6.66%;">1</div>
    <div class="cells" id ="pos-2" style="top: 40%;left:13.32%;">2</div>
    <div class="cells" id ="pos-3" style="top: 40%;left:19.98%;">3</div>
    <div class="cells" id ="pos-4" style="top: 40%;left:26.64%;">4</div>
    <div class="cells" id ="pos-5" style="top: 40%;left:33.3%;">5</div>

    <div class="cells" id ="pos-11" style="top: 0;left:40%;">11</div>
    <div class="cells" id ="pos-10" style="top: 6.66%;left:40%;">10</div>
    <div class="cells safe" id ="pos-9" style="top: 13.32%;left:40%;">9</div>
    <div class="cells" id ="pos-8" style="top: 19.98%;left:40%;">8</div>
    <div class="cells" id ="pos-7" style="top: 26.64%;left:40%;">7</div>
    <div class="cells" id ="pos-6" style="top: 33.3%;left:40%;">6</div>

    <div class="cells y-end" id ="pos-12" style="top: 0;left:46.66%;">12</div>
    <div class="cells yellow" id ="yh-1" style="top: 6.66%;left:46.66%;">1</div>
    <div class="cells yellow" id ="yh-2" style="top: 13.32%;left:46.66%;">2</div>
    <div class="cells yellow" id ="yh-3" style="top: 19.98%;left:46.66%;">3</div>
    <div class="cells yellow" id ="yh-4" style="top: 26.64%;left:46.66%;">4</div>
    <div class="cells yellow" id ="yh-5" style="top: 33.3%;left:46.66%;">5</div>

    <div class="cells" id ="pos-13" style="top: 0;left:53.32%;">13</div>
    <div class="cells y-start yellow" id ="pos-14" style="top: 6.66%;left:53.32%;">14</div>
    <div class="cells" id ="pos-15" style="top: 13.32%;left:53.32%;">15</div>
    <div class="cells" id ="pos-16" style="top: 19.98%;left:53.32%;">16</div>
    <div class="cells" id ="pos-17" style="top: 26.64%;left:53.32%;">17</div>
    <div class="cells" id ="pos-18" style="top: 33.3%;left:53.32%;">18</div>

    <div class="cells" id ="pos-19" style="top: 40%; right: 33.3%">19</div>
    <div class="cells" id ="pos-20" style="top: 40%;right:26.64%;">20</div>
    <div class="cells" id ="pos-21" style="top: 40%;right:19.98%;">21</div>
    <div class="cells safe" id ="pos-22" style="top: 40%;right:13.32%;">22</div>
    <div class="cells" id ="pos-23" style="top: 40%;right:6.66%;">23</div>
    <div class="cells" id ="pos-24" style="top: 40%;right:0;">24</div>

    <div class="cells blue" id ="bh-5" style="top: 46.66%; right: 33.3%">5</div>
    <div class="cells blue" id ="bh-4" style="top: 46.66%;right:26.64%;">4</div>
    <div class="cells blue" id ="bh-3" style="top: 46.66%;right:19.98%;">3</div>
    <div class="cells blue" id ="bh-2" style="top: 46.66%;right:13.32%;">2</div>
    <div class="cells blue" id ="bh-1" style="top: 46.66%;right:6.66%;">1</div>
    <div class="cells b-end" id ="pos-25" style="top: 46.66%;right:0;">25</div>

    <div class="cells" id ="pos-31" id ="pos-21" style="top: 53.32%; right: 33.3%">31</div>
    <div class="cells" id ="pos-30" style="top: 53.32%;right:26.64%;">30</div>
    <div class="cells" id ="pos-29" style="top: 53.32%;right:19.98%;">29</div>
    <div class="cells" id ="pos-28" style="top: 53.32%;right:13.32%;">28</div>
    <div class="cells b-start blue" id ="pos-27" style="top: 53.32%;right:6.66%;">27</div>
    <div class="cells" id ="pos-26" style="top: 53.32%;right:0;">26</div>

    <div class="cells" id ="pos-37" style="bottom: 0;left:53.32%;">37</div>
    <div class="cells" id ="pos-36" style="bottom: 6.66%;left:53.32%;">36</div>
    <div class="cells safe" id ="pos-35" style="bottom: 13.32%;left:53.32%;">35</div>
    <div class="cells" id ="pos-34" style="bottom: 19.98%;left:53.32%;">34</div>
    <div class="cells" id ="pos-33" style="bottom: 26.64%;left:53.32%;">33</div>
    <div class="cells" id ="pos-32" style="bottom: 33.3%;left:53.32%;">32</div>

    <div class="cells r-end" id ="pos-38" style="bottom: 0;left:46.66%;">38</div>
    <div class="cells red" id ="rh-1" style="bottom: 6.66%;left:46.66%;">1</div>
    <div class="cells red" id ="rh-2" style="bottom: 13.32%;left:46.66%;">2</div>
    <div class="cells red" id ="rh-3" style="bottom: 19.98%;left:46.66%;">3</div>
    <div class="cells red" id ="rh-4" style="bottom: 26.64%;left:46.66%;">4</div>
    <div class="cells red" id ="rh-5" style="bottom: 33.3%;left:46.66%;">5</div>

    <div class="cells" id ="pos-39" style="bottom: 0;left:40%;">39</div>
    <div class="cells r-start red" id ="pos-40" style="bottom: 6.66%;left:40%;">40</div>
    <div class="cells" id ="pos-41" style="bottom: 13.32%;left:40%;">41</div>
    <div class="cells" id ="pos-42" style="bottom: 19.98%;left:40%;">42</div>
    <div class="cells" id ="pos-43" style="bottom: 26.64%;left:40%;">43</div>
    <div class="cells" id ="pos-44" style="bottom: 33.3%;left:40%;">44</div>

    <div class="cells" id ="pos-45" style="top: 53.32%; left: 33.3%">45</div>
    <div class="cells" id ="pos-46" style="top: 53.32%;left:26.64%;">46</div>
    <div class="cells" id ="pos-47" style="top: 53.32%;left:19.98%;">47</div>
    <div class="cells safe" id ="pos-48" style="top: 53.32%;left:13.32%;">48</div>
    <div class="cells" id ="pos-49" style="top: 53.32%;left:6.66%;">49</div>
    <div class="cells" id ="pos-50" style="top: 53.32%;left:0;">50</div>

    <div class="cells green" id ="gh-5" style="top: 46.66%;left: 33.3%">5</div>
    <div class="cells green" id ="gh-4" style="top: 46.66%;left:26.64%;">4</div>
    <div class="cells green" id ="gh-3" style="top: 46.66%;left:19.98%;">3</div>
    <div class="cells green" id ="gh-2" style="top: 46.66%;left:13.32%;">2</div>
    <div class="cells green" id ="gh-1" style="top: 46.66%;left:6.66%;">1</div>
    <div class="cells g-end" id ="pos-51" style="top: 46.66%;left:0;">51</div>


  </div>

  <div style="float: left; width: 300px;">

    <div><button type="button" class="btn btn-secondary btn-sm" (click)="refresh()">Reset</button></div>

    <div style="clear: both;"></div>

    <div style="margin: 10px 0;">
      <button type="button" class="btn btn-primary btn-sm">2 Players</button> &nbsp;
      <button type="button" class="btn btn-primary btn-sm">4 Players</button>
    </div>


    <h4 style="padding-bottom: 10px;"><a href="javascript:void(0);" (click)="roll_the_dice()">Roll the Dice</a></h4>
    <div id="dice_result"><img src="assets/images/dice-set.png" style="width: 120px;"></div>

    <div style="padding-top: 50px;">

      <div style="padding:5px 20px;">
        <div class="done_box green" id="gdone-one"></div>
        <div class="done_box green" id="gdone-two"></div>
        <div class="done_box green" id="gdone-three"></div>
        <div class="done_box green" id="gdone-four"></div>
      </div>

      <div style="clear: both;"></div>

      <div style="padding:5px 20px;">
        <div class="done_box yellow" id="ydone-one"></div>
        <div class="done_box yellow" id="ydone-two"></div>
        <div class="done_box yellow" id="ydone-three"></div>
        <div class="done_box yellow" id="ydone-four"></div>
      </div>

      <div style="clear: both;"></div>

      <div style="padding:5px 20px;">
        <div class="done_box red" id="rdone-one"></div>
        <div class="done_box red" id="rdone-two"></div>
        <div class="done_box red" id="rdone-three"></div>
        <div class="done_box red" id="rdone-four"></div>
      </div>

      <div style="clear: both;"></div>

      <div style="padding:5px 20px;">
        <div class="done_box blue" id="bdone-one"></div>
        <div class="done_box blue" id="bdone-two"></div>
        <div class="done_box blue" id="bdone-three"></div>
        <div class="done_box blue" id="bdone-four"></div>
      </div>

    </div>
  </div>
</div>


